
/* Screen Reader Only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

img {
    display: block;
    max-inline-size: 100%;
}



/* Small devices (landscape phones, 576px and up) */
@media (width >=576px) {}

/* Medium devices (tablets, 768px and up) */
@media (width >=768px) {}

/* Large devices (desktops, 992px and up) */
@media (width >=992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (width >=1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (width >=1400px) {}